.imgCarousel {
  width: 100%;
  height: 800px;
}

.navbar-collapse {
  justify-content: flex-end;
}

ol, ul {
  list-style: none !important;
  padding-left: 2rem;
}

.imgNext {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 14px;
}

a {
  outline: none;
  text-decoration: none !important;
  color: inherit !important;
}



.columnDiv {
  columns: 3;
}

.carousel1 {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(7, 59, 99, 0.7483368347338936) 0%),
    url("images/maiz.jpg");
  background-size: cover;
}

.carousel2 {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(7, 59, 99, 0.7483368347338936) 0%),
    url("images/maiz2.jpg");
  background-size: cover;
}

.carousel3 {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(7, 59, 99, 0.7483368347338936) 0%),
    url("images/riegoPorGoteo.jpg");
  background-size: cover;
}

.imglogo {
  width: 164px;
  height: auto;
}

.title2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(7, 59, 99, 0.9);
}

.parrForm {
  font-family: "Montserrat";
  font-size: 22px;
  color: #073b63;
}

.boxSearch {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
}

.divFooterForm {
  width: 34%;
}

.parrSection {
  font-family: "Montserrat";
  margin-top: 42px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #414040;
}

.title3Blue {
  font-family: "Poppins";
  font-style: normal;
  margin-top: 40px;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #073b63;
}

.pBtnBlue {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* or 436% */
  margin-top: 8px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #073b63;
}

.pBtn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  /* or 436% */
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.alert {
  position: fixed !important;
  padding: 1rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.titSlider {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 62px;
  line-height: 82px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}


.btnServ {
  width: 146px;
  border: 0;
  padding: 8px;
  color: #116c44;
  border-radius: 2px;
  height: 34px;
  bottom: 40px;
  background: white;
}

.btnWhite {
  background-color: white !important;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 226px;
  height: 50px;
  color: #073b63;
  display: block !important;
  margin: 40px auto 80px;
}

.divForm {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.slider {
  height: 640px;
}

.divFlexsIcons {
  display: flex;
  justify-content: center;
}

.divFlexServ {
  display: flex;
  justify-content: center;
}

.title3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.04em;
  color: #116c44;
}

.btnModal {
  background-color: #116c44 !important;
  width: 120px;
  border: 0 !important;
  text-align: initial !important;
  padding: 8px;
  color: white;
  border-radius: 0px !important;
  height: 34px;
  bottom: 40px;
}

#Textarea1 {
  height: 200px;
}

.btn-primary {
  display: flex !important;
}

.btn-primary:hover {
  cursor: pointer;
  display: flex !important;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.1rem !important;
}
.navbar-light .navbar-toggler {
  color: #116c44 !important;
  border-color: #198754 !important;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.btn-primary {
  border-color: inherit !important;
}

.imgUs {
  display: block;
  margin-left: auto;
  right: 0;
  margin-top: 0px;
  z-index: 1;
}

.close:focus,
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.parrContainerUs {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 40px;
  z-index: 2;
}

.divUs {
  margin-top: 80px;
}

.parrUs {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150.9%;
  color: #626262;
}

.linet {
  display: block;
  margin: 0 auto;
  height: 0;
  opacity: 1;
  width: 16%;
  border: 2px solid #116c44;
  color: #116c44;
}

.linetHome {
  display: block;
  margin: 0 auto;
  height: 0;
  opacity: 1;
  width: 22%;
  border: 2px solid #116c44;
  color: #116c44;
}

.navbarAl {
  justify-content: end;
}

.parrNav {
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  letter-spacing: 0.08em;
  color: #073b63;
  font-family: "Poppins", sans-serif;
}

.parrNav:hover {
  border-bottom: 2px green !important;
}

.navbar {
  background-color: white;
  padding-left: 40px;
  width: 100%;
  z-index: 3;
  padding-right: 40px;
  border-bottom: 0.5px solid #e3e3e3;
}

.pBtnCardProduct {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: start;
  letter-spacing: 0.04em;
  color: #fefefe;
}

#nosotros,
#proyectos,
#servicios {
  margin-top: 80px;
  padding-left: 14%;
  padding-right: 14%;
  margin-bottom: 140px;
}

.pBtnCardProjects {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  text-align: start;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #fefefe;
  margin-bottom: 0px;
}

.card {
  padding: 42px;
  flex-direction: inherit !important;
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 80px;
  height: 324px;
  margin-bottom: 80px;
  border: 1px solid grey;
}

.form-control {
  margin-bottom: 20px;
}

.btnCancel {
  background-color: rgb(177, 1, 1);
  border: 1px solid;
  color: white;
  width: 42px;
  height: 42px;
  border-radius: 2px;
}

.wrapper {
  display: flex;
  justify-content: center;
}


.cardPrc:hover {
  box-shadow: 0px 0px 1.5px 1.5px #116c44;
  cursor: pointer;
}

.formInit {
  display: block;
  padding-left: 40px;
  margin: 0 auto 80px;
}

.nav-link {
  margin-left: 40px;
}

.inputForm {
  width: 400px;
  font-family: "Montserrat";
  font-style: normal;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  margin-top: 4px;
  margin-bottom: 10px;
  display: block;
}

.inputSearch {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  border: 1px solid #116c44;
  border-radius: 6px 0px 0px 6px;
  box-sizing: border-box;
  padding: 12px 20px;
}

.divTop {
  margin-top: 4%;
}

.btn-primary:focus {
  color: #fff;
  background-color: none !important;
  border-color: none !important;
  box-shadow: none !important;
}

.btnsHome {
  width: 164px;
  border: 0;
  padding: 12px;
  color: white;
  border-radius: 2px;
  height: 48px;
  display: block;
  margin: 0 auto;
  background: #116c44;
}

.titCardBlueProduct {
  font-family: "Poppins";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
  line-height: 28px;
  margin-bottom: 12px;
  letter-spacing: 0.08em;
  color: #073b63;
}

.cardDetailAdmin {
  break-inside: initial;
  padding: 34px;
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 40px;
  height: auto;
  margin-bottom: 40px;
  border: 1px solid rgb(194, 194, 194);
}

.inputDetail {
  width: 100%;
  border-radius: 4px;
  padding-left: 20px;
  padding-left: 20px;
  height: 40px;

}

.cardDetail {
  break-inside: initial;
  padding: 34px;
  display: inline-block;
  width: auto;
  height: auto;
  border-radius: 2px;
  margin-top: 40px;
  height: 580px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  border: 1px solid rgb(194, 194, 194);

}

.cardProyect {
  break-inside: initial;
  padding: 34px;
  display: inline-block;
  width: 460px;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 40px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  border: 1px solid rgb(194, 194, 194);
}

.imgCardProductMobile {
  width: 164px;
  height: 164px;
  margin-right: 20px;
}

.cardProductMobile {
  break-inside: initial;
  padding: 18px;
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 40px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(194, 194, 194);
}

.cardProduct {
  break-inside: initial;
  padding: 34px;
  display: inline-block;
  width: 340px;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 40px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  border: 1px solid rgb(194, 194, 194);
}

.me-auto {
  margin-right: 0px !important;
}

.vrBlue {
  color: #073b63 !important;
}

.containerProducts {
  display: none;
}

.bnBlue,
.bnGreen {
  padding-left: 0px !important;
  background-color: transparent !important;
  outline: none !important;
  border: none;
  bottom: auto;
}

.bnBlue:active {
  outline: none !important;
  border: none;
}

.bnBlue:focus {
  outline: none !important;
  border: none;
}

.parrCercle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  color: #116c44;
}



.vrGreen {
  color: #116c44 !important;
}

.iconCercle {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  display: block;
  margin-top: 4px;
}

.cardProductMobile:hover {
  box-shadow: 0px 0px 1.5px 1.5px #116c44;
  cursor: pointer;
}

.cardProyect:hover {
  box-shadow: 0px 0px 1.5px 1.5px #116c44;
  cursor: pointer;
}

.cardProduct:hover {
  box-shadow: 0px 0px 1.5px 1.5px #116c44;
  cursor: pointer;
}

.cercle:hover {
  box-shadow: 0px 0px 2px 2px #116c44;
  cursor: pointer;
}

.parrCercle:hover {
  color: #116c44;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 64px !important;
  padding: 14px !important;
}

.divServicios {
  margin-top: 4%;
}

.cardPrcBlue:hover {
  box-shadow: 0px 0px 1.5px 1.5px #073b63;
  cursor: pointer;
}

.btnCardServ {
  width: 146px;
  border: 0;
  padding: 8px;
  display: flex;
  border-radius: 2px;
  height: 34px;
  bottom: 60px;
  background: #116c44;
}

.tit {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-top: 12px;
  line-height: 28px;
  margin-bottom: 12px;
  letter-spacing: 0.06em;
  color: #116c44;
}

.cardServ {
  break-inside: initial;
  padding: 20px;
  display: inline-block;
  margin: 0 auto;
  width: 274px;
  border-radius: 2px;
  margin-top: 40px;
  height: 540px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  border: 1px solid rgb(194, 194, 194);
}

.divFlexProd {
  display: flex;
  justify-content: center;
}

.cardServ:hover {
  box-shadow: 0px 0px 1.2px 1.2px #073b63;
  cursor: pointer;
}

.bkButton {
  background-color: white !important;
  color: #025c02 !important;
  border-radius: 0px !important;
}

.boxCardServ {
  margin-left: 0;
  margin-right: 0;
}

.imgCard {
  width: 100%;
  height: 240px;
}

.imgCardProduct {
  width: 100%;
  height: 280px;
}

.navPag {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btnPag {
  border: 2px solid green;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 4px;
  color: green;
  margin-right: 12px;
  margin-bottom: 20px;
  font-size: 18px;
}

.btnPag:hover {
  background-color: green;
  color: white;
}

.spinner {
  display: block !important;
  margin: 20px auto 0;
  text-align: center;
  margin-bottom: 40px;
}

.titCardGreen {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-top: 12px;
  line-height: 28px;
  margin-bottom: 12px;
  letter-spacing: 0.06em;
  color: #116c44;
}

.titCardGreenS {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  padding-left: 80px;
  letter-spacing: 0.06em;
  color: #116c44;
}

.divCenter {
  display: block;
  margin: 0 auto;
}

.titCardBlue {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 0.06em;
  color: #073b63;
}

.titCardBlues {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 0.06em;
  color: #073b63;
}

.btnSearch {
  border-radius: 0px 6px 6px 0px;
  width: 64px;
  border: 1px solid green;
  background-color: white;
  color: green;
}

.inputSearch:focus {
  border: 1px solid green;
}

.btnplus {
  border-radius: 24px;
  margin-left: 12px;
  padding: 0;
  width: 32px;
  background-color: white;
  border: 1.5px solid green;
  height: 32px;
}

.btnplus:hover {
  border: 2px solid green;
}

.btnClean {
  background-color: #025c02;
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.btnEdit {
  padding: 8px;
  border: 1px solid;
  color: white;
  background-color: #2c6ad9;
}

.parrCard {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #414040;
}

.parrCardType {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #414040;
  margin-top: 10px;
}

.btnCard {
  width: 146px;
  border: 0;
  position: absolute;
  padding: 8px;
  border-radius: 2px;
  height: 34px;
  bottom: 40px;
  background: #116c44;
}

.btnS {
  width: 146px;
  border: 0;
  padding: 8px;
  color: white;
  border-radius: 2px;
  height: 34px;
  bottom: 40px;
  background: #116c44;
}

.bumb {
  display: block;
  margin: 0 auto;
  width: 82px;
  height: auto;
}

textarea.form-control {
  height: 140px;
}

.footer {
  padding: 120px 94px 64px;
  display: flex;
  justify-content: space-around;
  height: 540px;
  background-color: #073b63;
}

.titFoo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  color: #ffffff;
}

.boxCard {
  margin-left: 40px;
  margin-right: 40px;
}

.imgIcon {
  width: 38px;
  height: 38px;
  margin-right: 14px;
  cursor: pointer;
}

.imgIcon:hover {
  width: 38px;
  border: 1px solid green;
  border-radius: 20px;
  height: 38px;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #073b63;
}

.next,
.prev {
  background-color: transparent !important;
}

.form {
  width: 40%;
}

.cercle {
  width: 84px;
  border-radius: 50%;
  height: 84px;
  display: block;
  margin: 0 auto;
  padding: 12px;
  border: 1.5px solid #116c44;
}

.divFlexCercles {
  display: flex;
  margin-top: 40px;
  margin-bottom: 80px;
  justify-content: space-between;
}

.parrFoo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 154.1%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.carousel-caption {
  bottom: 0 !important;
  top: 6em;
}

.boxGreenLines {
  display: flex;
  margin-top: 60px;
  margin-bottom: -14px;
  justify-content: space-between;
}

.btnFoo {
  width: 148px;
  height: 34px;
  padding: 4px;
  border: 0;
  border-radius: 2px;
  background: #116c44;
}

.divFlex {
  display: flex;
  justify-content: center;
}

.divFlexs {
  display: flex;
}

.divFlexsFooter {
  display: flex;
}

.ifr {
  width: 100%;
  height: 360px;
}

.pBtnCard {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #fefefe;
}

.nav-link:hover {
  border-bottom: 2px solid #116c44;
  margin-top: -0px;
}

.nav-link:active, .nav-link:focus {
  border-bottom: 2px solid #116c44 !important;
}

.parrBtnFoo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.99);
}

.greenLine {
  width: 38%;
  background-color: #116c44;
  height: 4px;
}

.navbar-nav {
  text-align: center;
}

.divFlexsIcons {
  display: block;
  justify-content: flex-start;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.imgCardServ {
  width: 234px;
  height: 320px;
  margin-bottom: 14px;
}



@media (max-width: 1460px) {
  .imglogo {
    width: 124px;
    height: auto;
  }

  .cardProyect {
    width: 360px;
  }

  .cardProduct {
    width: 340px;
  }

  .boxCardProd {
    margin-left: 0;
    margin-right: 0;
  }


  .parrCard {
    font-size: 14px;
  }

  .pBtn {
    font-size: 18px;
    margin-bottom: 0;
  }

  .boxGreenLines {
    margin-bottom: -40px;
  }

  .title3 {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 26px;
  }

  .title3Blue {
    font-size: 32px;
  }

  .title2 {
    font-size: 38px;
  }

  .linet {

    width: 22%;

  }

  #nosotros,
  #proyectos,
  #servicios {
    margin-top: 80px;
    padding-left: 14%;
    padding-right: 14%;
    margin-bottom: 80px;
  }

  .parrNav {
    font-size: 18px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .nav-link:hover {
    border-bottom: 2px solid #116c44;
  }

  .parrFoo {
    font-size: 18px;
  }

  .footer {
    padding: 5% 0% 0% 0%;
    height: 420px;
  }

  .titFoo {
    font-size: 38px;
  }

  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 15%;
    top: 6em;
    padding-top: 0;
    padding-bottom: 0;
  }

  .titSlider {
    font-size: 56px;
    line-height: 62px;
  }

  .pBtnBlue {
    font-size: 18px;
  }

  .slider {
    height: 540px;
  }
}

@media (max-width: 1160px) {
  .columnDiv {
    columns: 2;
  }

  .divServicios {
    margin-top: 40px;
  }

  .nav-link:hover {
    border-bottom: 0px solid #116c44;
    margin-top: 0px;
    color: #116c44;
  }
  .parrNav:hover{
    color: #116c44;
    font-weight: 500;
  }
  .divFlexServ {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .cardServ {
    width: 300px;
    height: 248px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }

  .carouselCont {
    display: none;
  }

  .containerProducts {
    display: block;
    text-align: center;
    margin-bottom: 80px;
  }

  .imgCardServ {
    display: none;
  }
}

@media (max-width: 860px) {
  .columnDiv {
    columns: 1;
  }

  .titFoo {
    font-size: 34px;
    text-align: center;
  }

  .footer {
    display: block;
    height: auto;
  }

  .parrFoo {
    font-size: 16px;
    display: block;
    text-align: center;
  }

  .titCardBlue {
    font-size: 20px;
    margin-top: 20px;
  }

  .contactContainer {
    margin-bottom: 40px;
  }

  .divFlexsIcons {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .title2 {
    font-size: 36px;
  }

  .titCardGreen {
    font-size: 20px;
  }

  .imgCard {
    width: 264px;
    height: 234px;
  }

  .divFlexCercles {
    display: block;
  }

  .titSlider {
    font-size: 32px;
    line-height: 38px;
  }

  .nav-link {
    margin-left: 0px;
  }

  .imgIcon {
    width: 32px;
    height: 32px;
    margin-right: 14px;
    cursor: pointer;
  }

  .linetHome {
    width: 56%;
  }

  .linet {
    border: 1.5px solid #116c44;
  }

  .parrSection {
    font-size: 14px;
  }

  .btnWhite {
    width: 180px;
    height: 46px;
    margin: 20px auto 40px;
  }

  #nosotros,
  #proyectos,
  #servicios {
    margin-top: 140px;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 140px;
  }

  .linet {
    width: 260px;
  }

  .title3Blue {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
  }

  .footer {
    display: block;
    height: auto;
  }

  .card {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-end;
    height: 580px;
  }


  .form {
    width: 100%;
  }

  .divForm {
    width: 40%;
  }

  .title3 {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    line-height: 22px;
  }
}

@media (max-width: 540px) {


  #nosotros,
  #proyectos,
  #servicios {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .card {
    padding: 24px 30px;
  }

  .divForm {
    width: 50%;
    margin: 0 auto;
  }

  .boxGreenLines {
    display: flex;
    margin-top: 80px;
    margin-bottom: -50px;
  }

  .slider {
    height: 440px;
  }

  .footer {
    padding-bottom: 40px;
  }

  .parrContainerUs {
    width: 80%;
  }

  .carousel1,
  .carousel2,
  .carousel3 {
    height: 520px;
  }

  .cardProyect {
    width: 340px;
  }

  .cardProduct {
    width: 340px;
  }


  .boxCard {
    margin-left: 0;
    margin-right: 0;
  }

  .divFlexsFooter {
    display: flex;
    justify-content: center;
  }

  .imgCard {
    width: 260px;
    height: 240px;
  }
}

@media (max-width: 420px) {
  .titSlider {
    font-size: 26px;
    line-height: 34px;
  }

  .divFlexProd {
    display: block;
    margin: 0 auto;
  }

  .btnWhite {
    width: 140px;
    height: 40px;
    margin: 20px auto 40px;
  }

  .pBtnBlue {
    font-size: 14px;
  }
}